body { 
/*	text-align: center;*/
/*	background-color: white;*/
/*	background-image:url(images/fond.gif);*/
	background-color: #F0F0F0;
	font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
	font-size: 13px;
/*	line-height: 1.3;*/
	}

a {
	color: #CC0033;
	text-decoration:none;
	}

hr { border: 0px; color: Gray; /* Internet Explorer */ background-color: Gray; height: 1px; }

#header, #foot {
		width: 640px;
		margin: auto;
		padding-left:40px;
	}
	
#header h1 {
	font-weight:300;
	color:#669966;
	margin-bottom:5px;
	}

#main {
	padding: 20px;
	padding-left: 100px;
	padding-top: 40px;
	text-align: left;
	background-color: #FFFFFF;
	/*	background-color: #EAFFDF; */
	}
	
#navbar {
	margin: auto;
	text-align: right;
	/*	border: 1px solid #999;*/
	padding: 5px 20px 0px 20px;
	background-color:#99CC99;
}
#navbar li {
	display: inline;
	margin-right: 10px;
}


#phd_abstract {
	border: 2px solid #EAFFDF;
}

dt {
	background-color: #EAFFDF;
}

/* styles ajoutés */

#tagline {
	font-weight:800;
	font-size:10px;
	color:#669966;
	margin-bottom:40px;
	}

#frame {
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	width: 640px;
	margin: auto;
	border-style: solid;
	border-color: #99CC99;
	border-width: 2px;
	border-bottom-width: 6px;
	background-color:#FFFFFF;
	}

ul {
	margin-top:0px;
	font-weight:800;
	font-size:10px;
	}
	
h2 {
	font-weight:300;
	}

#main h2 {
	color: #CC0033;
	}


#chapter {
	font-size:20px;
	width: 640px;
	height: 20px;
	margin: auto;
	padding-right:60px;
	text-align:right;
	color:#99CC99;
	text-transform: uppercase;
	}
	
#navbar li.webgen-menu-item-selected {
	color:#FFFFFF;
	}
	
#footer {
	text-align:right;
	font-size:9px;
	padding-right:40px;
	}
	
a:hover {
	text-decoration:underline;
}

#navbar a:hover {
	text-decoration:none;
	background-color:#669966;
	color:#FFFFFF;
}
